* {
    font-family: Arial, Helvetica, sans-serif;
}

.landing-page {
    border: 2px solid black;
    border-radius: 10px;;
    margin: 8em auto;
    width: 50%;
}

.landing-page h1, 
p { 
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
}

.landing-page h1 {
    font-size: 3em;
    margin-bottom: 14px;
}

.landing-page p {
    font-size: 1.25em;
}

.landing-page button {
    display: block;
    margin: 0 auto 20px auto;
    width: 20%;
    height: 40px;
    background-color: hotpink;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
}

.question-area {
    font-size: 3em;
    margin-bottom: 14px;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
}

#choices-ul {
    margin: 0 auto;
    align-items: center;
}

.time-remaining {
    margin: 0 auto;
}